.projects__card-paragraph--detailed-pricing {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  padding: 0 10px 10px 10px;
}

@media (max-width: 768px) {
  .projects__card-paragraph--detailed-pricing {
    font-size: 14px;
  }
}
