.services-rating__table-image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 40px 50px 50px;
}

@media (max-width: 768px) {
  .services-rating__table-image {
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
  }
}
