.social-media-branding__frequency {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #0b5ed9;
  /* No specific margins provided for this element */
}
