.contacts {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts__title {
    padding-top: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 430px) {
  .contacts {
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}
