.contacts {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding-bottom: 40px;
  padding-top: 1px;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 16px;
    padding-right: 16px;
  }
}
