.corporate-blog__text-and-tables-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 430px) {
  .corporate-blog__text-and-tables-wrapper {
    padding-top: 0;
  }
}
