.corporate-blog__text-and-tables-wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  /* We handle all spacing using margins on inner elements now */
  padding: 0;
  padding-bottom: 42px;
}
