.projects__card-price-wrapper {
  padding: 10px 10.5px;
}

@media (max-width: 768px) {
  .projects__card-price-wrapper {
    padding: 10px 20px;
  }
}

@media (max-width: 430px) {
  .projects__card-price-wrapper {
    padding-left: 10px;
  }
}
