* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #27293e;
  background-color: #f8f8f8;
  padding: 1rem;
}

/* media queries */

@media (max-width: 768px) {
  .page {
    padding: 0.75rem;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .page {
    padding: 1.25rem 2.5rem;
  }
}
