.vacancy__price {
  font-family: "PP Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  color: #2c2c2c;
  margin-right: 10px;
  /* Reuses container spacing from sponsor__price-container.css */
}
