.hero__content-wrapper {
  position: static;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .hero__content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .hero__content-wrapper {
    position: static;
    padding: 0 10px;
    margin-top: 1rem;
    padding-top: 0;
  }
}

@media (max-width: 430px) {
  .hero__content-wrapper {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 380px;
    margin-bottom: 31px;
  }
}

@media (max-width: 320px) {
  .hero__content-wrapper {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
