/* .hero__title {
  font-family: "Neue Machina";
  color: #ffffff;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%;
  font-size: 176px;
  text-align: center;
  margin: 30px 63px 32px 64px;
} */

.hero__title {
  font-family: "Neue Machina";
  color: #ffffff;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%;
  font-size: 10vw; /* Scales with viewport width */
  text-align: center;
  margin: 1.5rem 1rem; /* Relative margins */
}

@media (max-width: 1024px) {
  .hero__title {
    font-size: 8vw;
    margin: 1rem;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 6vw;
    margin: 0.75rem;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 5vw;
  }
}
