.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: auto;
  display: block;
  box-sizing: border-box;
  width: 1056px;
}

@media (max-width: 1200px) and (min-width: 769px) {
  .hero__title {
    opacity: 1;
    position: static;
    transform: none;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .hero__title {
    opacity: 1;
    position: static;
    transform: none;
    margin: 0 auto 1rem auto;
    width: 100%;
    padding: 0 10px;
  }
}

.hero--animate-title .hero__title {
  animation: fadeInScale 0.7s ease-out forwards;
  opacity: 1;
}
