.hero__title {
  font-family: "PP Neue Machina", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 178px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 14vw;
  }
}

@media (max-width: 768px) {
  .hero__title {
    position: static;
    transform: none;
    margin: 0 auto 1rem auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    font-size: 10vw;
    white-space: normal;
  }
}
