.projects__card-image-wrapper--exclusive {
  margin: 50px 50px 20px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects__card-image-wrapper--exclusive {
    margin: 0 20px 20px 20px;
  }
}

@media (max-width: 430px) {
  .projects__card-image-wrapper--exclusive {
    margin: 0;
  }
}
