.projects__box {
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px; /* Example padding */
}

@media (max-width: 768px) {
  .projects__box {
    margin-bottom: 10px; /* Add space between stacked boxes */
  }
}
