.projects__box {
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  /* padding: 16px; */
}

@media (max-width: 768px) {
  .projects__box {
    margin-bottom: 0;
    /* min-width: 410px; */
    margin: 0 auto;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
}
