.header__nav-link {
  text-decoration: none;
  color: #27293e;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  padding: 0.5rem 0;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 4px;
  gap: 5px;
}

.header__nav-link:hover {
  color: #2d79ec;
  font-weight: 600;
}

/* media queries */
@media (max-width: 768px) {
  .header__nav-link {
    width: 100%;
    padding: 1rem;
    font-size: 0.95rem;
    display: block;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .header__nav-link {
    padding: 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
}
