.contacts__title {
  margin: 60px 0 20px 60px;
  display: block;
  font-family: "PP Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2c2c2c;
}

@media (max-width: 768px) {
  .contacts__title {
    margin-left: 20px;
  }
}
