.contacts__title {
  padding: 60px 0 20px 60px;
  display: block;
}

@media (max-width: 768px) {
  .contacts__title {
    margin-left: 20px;
  }
}

@media (max-width: 430px) {
  .contacts__title {
    padding-left: 20px;
    margin-left: 10px;
  }
}
