.projects__card-paragraph--placement {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
}

@media (max-width: 430px) {
  .projects__card-paragraph--placement {
    font-size: 14px;
  }
}
