.pricing-grid__paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  padding-left: 10px;
}

@media (max-width: 430px) {
  .pricing-grid__paragraph {
    font-size: 14px;
  }
}
