.special-projects__box--row2-3 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon content";
  background-color: #ffffff;
  padding: 10px 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
