.contacts__card-row {
  width: 100%;
  max-width: 1076px;
  gap: 20px;
  display: grid;
}

.contacts__card-row a {
  min-width: 0;
  box-sizing: border-box;
  margin: 0 !important;
}
.contacts__card-row--first {
  grid-template-columns: 330px 346px 360px;
  margin-bottom: 20px;
  margin-top: 117px;
  margin-right: 64px;
  margin-left: 60px;
}
.contacts__card-row--second {
  grid-template-columns: 360px 403px;
  margin-left: 60px;
  margin-top: 0;
  margin-right: 64px;
  margin-bottom: 0px;
}

@media (max-width: 1200px) {
  .contacts__card-row--first,
  .contacts__card-row--second {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px auto;
    padding: 0 16px;
    box-sizing: border-box;
    justify-items: start;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .contacts__card-row--first,
  .contacts__card-row--second {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-items: start;
  }
}
