.contacts__card-row {
  width: 100%;
  max-width: 1076px;
  gap: 20px;
  display: grid;
}
@media (max-width: 768px) {
  .contacts__card-row {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}
