.ad-networks-ratings {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .ad-networks-ratings {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .ad-networks-ratings {
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
