.individual-projects {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .individual-projects {
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
