.header__menu-toggle {
  width: 60px;
  height: 60px;
  position: relative;
  border: none;
  background: none;
  padding: 0;
  margin: 10px 0 10px 10px;
  cursor: pointer;
  display: none;
}

.header__menu-toggle--active .header__icon--burger {
  display: none; /* Hide burger when active */
}

.header__menu-toggle--active .header__icon--close {
  display: block; /* Show close icon when active */
}

@media (max-width: 768px) {
  .header__menu-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  .header__menu-toggle {
    padding: 0.75rem;
  }
}
