.projects__card-price {
  font-family: "PP Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  color: #2c2c2c;
}

@media (max-width: 430px) {
  .projects__card-price {
    font-size: 28px;
  }
}
