.header__nav {
  flex: 1;
  display: flex;
  align-items: center;
}

/* media queries */

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__nav {
    top: 100%;
  }
}

@media (max-width: 320px) {
  .header__nav {
    max-width: 100%;
    overflow: hidden;
  }
}
