.header {
  width: 100%;
  max-width: 1201px;
  background-color: #ffffff;
  margin: 1.25rem auto;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* media queries */
@media (max-width: 768px) {
  .header {
    position: relative;
    z-index: 1001;
  }
}
@media (max-width: 480px) {
  .header {
    margin: 10px;
    border-radius: 12px;
    max-width: 410px;
  }
}
@media (min-width: 1200px) {
  .header {
    margin: 1.25rem auto;
    max-width: 1201px;
  }
}
