.projects__card-title--publication {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #3663e0;
  padding: 10px;
}

@media (max-width: 430px) {
  .projects__card-title--publication {
    font-size: 18px;
  }
}
