.ad-networks-ratings__main-image {
  display: block;
  width: 545px;
  height: auto;
  margin: 50px 50px 50px 0;
}

@media (max-width: 768px) {
  .ad-networks-ratings__main-image {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }
}
