.banner {
  width: 100%;
  max-width: 1200px; /* Aligns with previous sections */
  margin: 40px auto 40px auto; /* 40px top margin from about section, centers the container */

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .banner {
    padding: 0 1rem; /* Use a relative unit for padding on small screens */
  }
}
