.banner {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 16px;
  }
}

@media (max-width: 430px) {
  .banner {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}
