.social-media-posts__note-paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  margin: 0 50px 50px 0px;
  padding: 10px 0 10px 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .social-media-posts__note-paragraph {
    margin: 0 20px 20px 20px;
  }
}
