.header__menu-icon {
  width: 100%;
  height: 4px;
  background-color: #333;
  position: absolute;
  left: 0;

  transition: transform 0.4s ease, opacity 0.4s ease;
}

.header__menu-icon:nth-child(1) {
  top: 0;
  transform: translateY(0px);
}

.header__menu-icon:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__menu-icon:nth-child(3) {
  bottom: 0;
  transform: translateY(0px);
}
