/* .header__menu-icon {
  width: 24px;
  height: 2px;
  background-color: #27293e;
  display: flex;
  border-radius: 2px;
  transition: all 0.3s ease;
  
  margin: 0 auto;
  
  justify-content: center;
  align-items: center;
} */

.header__menu-icon {
  width: 100%;
  height: 4px; /* Thickness of the lines */
  background-color: #333;
  position: absolute; /* Position lines absolutely */
  left: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.header__menu-icon:nth-child(1) {
  top: 0;
}

.header__menu-icon:nth-child(2) {
  top: 50%; /* Center the middle line */
  transform: translateY(-50%); /* Adjust for perfect centering */
}

.header__menu-icon:nth-child(3) {
  bottom: 0;
}
