.pricing-grid__paragraph--publication {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #3663e0;
  padding: 0 13px;
  margin-bottom: 10px;
}
