.corporate-blog__caption {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  text-align: left;
  margin: 0 0 0 60px;
  padding: 10px 10.5px;
}

@media (max-width: 1200px) {
  .corporate-blog__caption {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .corporate-blog__caption {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
