.banner__item {
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .banner__item {
    flex-direction: column;
  }
}
