/* .hero {
  width: 1200px;
  margin: 0px 40px 10px 40px;
  background-color: #2d79ec;
  border-radius: 20px;
} */

.hero {
  width: 100%;
  max-width: 1200px; /* Maintains max width for large screens */
  margin: 0px 40px 10px 40px; /* Centered with relative bottom margin */
  background-color: #2d79ec;
  border-radius: 20px;
  /* box-sizing: border-box; */
  /* padding: 1rem; */
  position: relative; /* Context for absolute positioning */
  overflow: hidden; /* Prevents overflow issues */
}

@media (max-width: 768px) {
  .hero {
    padding: 0.5rem;
  }
}
