.hero {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 10px auto;
  min-height: 611px;
  background-color: #2d79ec;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: auto;
    border: 1px solid green;
    padding: 2rem 1rem;
    position: static;
    text-align: center;
    margin: 1rem auto;
  }
}

@media (max-width: 430px) {
  .hero {
    border: 1px solid blue;

    margin: 0 auto;
    width: 100%;
    /* width: 420px; */
  }
}

/* Animation for the title appearance (fade in/scale up slightly) */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
