.top-ratings {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 16px;
}
