.top-ratings {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 16px;
}

@media (max-width: 430px) {
  .top-ratings {
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0;
  }
}
