.pricing-table__cell--price {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  color: #2c2c2c;
  white-space: nowrap;
}

@media (max-width: 430px) {
  .pricing-table__cell--price {
    font-size: 28px;
    padding-bottom: 0;
  }
}
