.footer__link {
  display: block; /* Links stack vertically */
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  color: #d9d9d9;

  margin-bottom: 12px; /* Space between links */
}
