.sponsor {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 20px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

/* Responsiveness */
@media (max-width: 1200px) {
  .sponsor {
    padding: 0 16px;
  }
}
