.projects__card-title--secondary {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 100%;
  color: #3663e0;
  padding: 10px 10px 0 10px;
}

@media (max-width: 768px) {
  .projects__card-title--secondary {
    font-size: 18px;
  }
}
