.banner__item-image-wrapper {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 10px;
}

@media (max-width: 768px) {
  .banner__item-image-wrapper {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 430px) {
  .banner__item-image-wrapper {
    padding: 0;
  }
}
