.top-ratings__badge {
  background-color: #e01339;
  color: #ffffff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* FIX: Added margin-right based on margin-right 3px spec (3px of space to text) */
  margin-right: 3px;
  /* The padding 9px of the parent handles overall spacing */
}
