.corporate-blog__text {
  margin: 42px 0 20px 50px;
  box-sizing: border-box;
  width: 504px;
}

@media (max-width: 768px) {
  .corporate-blog__text {
    margin: 20px 0 10px 10px;
    width: auto;
  }
}

@media (max-width: 430px) {
  .corporate-blog__text {
    padding-top: 15px;
  }
}
