.contacts__card-row--first {
  grid-template-columns: 330px 346px 360px;
  /* margin-bottom: 20px; */
  /* margin-top: 117px; */
  /* padding-left: 60px; */
  /* margin-right: 64px; */
  /* margin-left: 60px; */
}

@media (max-width: 1076px) {
  .contacts__card-row--first {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 10px;
    margin: 20px auto 10px auto;
  }
}

@media (max-width: 768px) {
  .contacts__card-row--first {
    grid-template-columns: 1fr;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
