.projects__card-paragraph--publication {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  padding: 10px 10px;
  margin-bottom: 20px;
}
