/* search-branding.css */

.search-branding {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto; /* Assuming 40px top/bottom margin */
  padding: 0;
  box-sizing: border-box;

  background-color: #ffffff; /* Assuming white background */
  border-radius: 16px; /* Assuming rounded corners */
}

/* Responsiveness */
@media (max-width: 1200px) {
  .search-branding {
    padding: 0 16px;
  }
}
