.projects__card-paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #2c2c2c;
  padding: 10px 10.5px;
  color: rgba(44, 44, 44, 0.8); /* Added opacity */
  margin-bottom: 20px; /* Space between paragraphs */
}
