.corporate-blog__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #3663e0;
  padding: 10px;
  margin: 0;
}

@media (max-width: 430px) {
  .corporate-blog__title {
    font-size: 18px;
  }
}
