.corporate-blog {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .corporate-blog {
    padding: 0 16px;
  }
}
