.corporate-blog {
  min-width: 425px;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .corporate-blog {
    padding: 0 10px 0 2px;
  }
}
