.corporate-blog {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .corporate-blog {
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .corporate-blog {
    max-width: 300px;
  }
}
