.social-media-branding__description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  padding: 0 13px;
  margin-bottom: 10px;
}

@media (max-width: 430px) {
  .social-media-branding__description {
    font-size: 14px;
  }
}
