.contacts-card__image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contact-card__image {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}
