.projects__card-image-wrapper--native {
  margin: 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects__card-image-wrapper--native {
    margin: 20px;
  }
}

@media (max-width: 430px) {
  .projects__card-image-wrapper--native {
    margin: 0;
  }
}
