.header__language-switcher-mobile {
  display: none;
  align-items: center;
}
.header__language-switcher-mobile--hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .header__language-switcher-mobile {
    display: flex;
  }
}

@media (max-width: 480px) {
  .header__language-switcher-mobile {
    margin-right: 12px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .header__language-switcher-mobile {
    margin-right: 10px;
  }

  .header__nav-link--language {
    font-size: 16px;
  }
}
