.header__language-switcher-mobile {
  display: none; /* Hide on desktop */
  align-items: center;
}

.header__language-switcher-mobile--hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .header__language-switcher-mobile {
    display: flex;
  }
}

@media (max-width: 430px) {
  .header__language-switcher-mobile {
    width: 25px;
    height: 22px;
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: 5px;
    padding: 4px 2px;
  }
}
