.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    padding: 20px;
  }
}
