.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

@media (max-width: 1200px) {
  .content-wrapper {
    width: 100%;
    padding: 0;
  }
}
