.banner__item-content {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 90px 91px 90px 50px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

@media (max-width: 768px) {
  .banner__item-content {
    padding: 20px;
  }
}

@media (max-width: 430px) {
  .banner__item-content {
    padding: 0;
    margin: 15px 9px 20px 20px;
  }
}
