.banner__item-content {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 90px 91px 90px 50px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .banner__item-content {
    padding: 20px;
  }
}
