.pricing-table {
  width: 505px;
  border-radius: 16px;
  overflow: hidden;
  border-collapse: collapse;
  margin: 0 50px 20px 50px;
}

@media (max-width: 768px) {
  .pricing-table {
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
  }
}
