.banner__item-image {
  width: 100%;
  height: 100%; /* Fills the image wrapper entirely */
  object-fit: cover; /* Ensures the image covers the space without distortion */
  border-radius: 20px;
  display: block;
}
