.about__box--wide {
  padding: 0 16px 16px 16px;
}

.about__box--wide .about__title {
  margin-left: 16px;
}

.about__box--wide .about__paragraph {
  margin-left: 16px;
}

.about__box--wide .about__logo-background {
  margin-bottom: 21px;
}
