.about__box--wide .about__title {
  margin-left: 16px;
}

.about__box--wide .about__paragraph {
  margin-left: 16px;
}

.about__box--wide .about__logo-background {
  margin-bottom: 21px;
}

@media (max-width: 768px) {
  .about__box--wide {
    margin-bottom: 0;
    padding: 16px !important;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
  }
  .about__box--wide .about__title,
  .about__box--wide .about__paragraph,
  .about__box--wide .about__logo-background {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .about__box--wide {
    margin-bottom: 0;
  }
}
