.native-integration {
  width: 100%;
  max-width: 1200px;
  margin: 65px auto 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

/* Responsiveness */
@media (max-width: 1200px) {
  .native-integration {
    padding: 0 16px;
  }
}

@media (max-width: 430px) {
  .native-integration {
    margin: 0px 10px 10px 10px;
  }
}
