@media (max-width: 768px) {
  .header__nav--active {
    display: flex;
    transform: translateX(0);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
  }
}
