.about__box {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 0;
}

@media (max-width: 768px) {
  .about__box {
    margin-bottom: 10px;
    position: static !important;
    width: 100% !important;
    max-width: none !important;
    padding: 16px;
    flex-basis: 100% !important;
  }
}

@media (max-width: 524px) {
  .about__box {
    position: static !important;
    width: initial !important;
    flex-basis: 100% !important;
  }
}
