.about__box {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 0;
}

.about__title,
.about__paragraph,
.about__logo-background {
  margin: 0;
}

.about__title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.about__paragraph {
  margin-bottom: 5px;
}
.about__logo-background {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about__box {
    margin-bottom: 10px;
    position: static !important;
    width: 100% !important;
    max-width: none !important;
    padding: 16px;
    flex-basis: 100% !important;
  }
  .about__title,
  .about__paragraph,
  .about__logo-background {
    margin-left: 0; /* Force margin left to zero */
  }
}

@media (max-width: 524px) {
  .about__box {
    position: static !important;
    max-width: 425px;
    margin: 0;
    width: 100%;
    padding: 5px;
    /* width: initial !important; */
    flex-basis: 100% !important;
  }
}
