.about__box {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-right: 16px;
}

.about__box {
  flex: 1;
}

.about > .about__box:nth-child(1),
.about > .about__box:nth-child(2) {
  padding-right: 16px;
  padding-bottom: 16px;
}

.about > .about__box:nth-child(1) .about__title,
.about > .about__box:nth-child(2) .about__title {
  margin: 0 0 5px 16px;
}

.about > .about__box:nth-child(1) .about__paragraph,
.about > .about__box:nth-child(2) .about__paragraph {
  margin: 0 0 0 16px;
}

.about > .about__box:nth-child(1) .about__logo-background,
.about > .about__box:nth-child(2) .about__logo-background {
  margin-bottom: 36px;
}

@media (max-width: 768px) {
  .about__box {
    margin-bottom: 10px;
  }
}

@media (max-width: 524px) {
  .about__box {
    margin-bottom: 10px;
  }
}
