.about__box {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* padding-bottom: 16px;
  padding-right: 16px; */
  min-width: 0;
}

/* .about > .about__box:nth-child(1),
.about > .about__box:nth-child(2) {
  padding-right: 16px;
  padding-bottom: 16px;
}

.about > .about__box:nth-child(1) .about__title,
.about > .about__box:nth-child(2) .about__title {
  margin: 0 0 5px 16px;
}

.about > .about__box:nth-child(1) .about__paragraph,
.about > .about__box:nth-child(2) .about__paragraph {
  margin: 0 0 0 16px;
}

.about > .about__box:nth-child(1) .about__logo-background,
.about > .about__box:nth-child(2) .about__logo-background {
  margin-bottom: 36px;
} */

@media (max-width: 768px) {
  .about__box {
    margin-bottom: 10px;
    position: static !important;

    width: 100% !important;
    /* FIX: Force the width to reset in mobile view */
    /* width: initial !important; */
    max-width: none !important;
    padding: 16px;
    /* Ensure flex basis is 100% if flex properties are still active */
    flex-basis: 100% !important;
  }
}

@media (max-width: 524px) {
  .about__box {
    /* ... same rules as 768px ... */
    position: static !important;

    width: initial !important;
    flex-basis: 100% !important;
  }
}
