/* search-branding__title.css */

.search-branding__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #3663e0;
  /* padding left/right 10px. padding bottom 10px. margin-bottom 20px */
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}
