/* vacancy__title.css */

.vacancy__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #3663e0;
  margin-bottom: 10px;
  padding: 10px; /* Padding on all sides */
  /* No bottom margin specified, will rely on price container margin */
}
