.top-ratings__table-image {
  display: block;
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto 50px auto;
}

/* Responsiveness for table image */
@media (max-width: 1200px) {
  .top-ratings__table-image {
    margin-left: auto;
    margin-right: auto;
  }
}
