.banner__item-rotation {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  background-color: #f9f9c9;
  border-radius: 16px;
  padding: 2px 6px;
}
