.project-block__box--row2-3 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon content";
  background-color: #ffffff;

  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 272px;
}
