.special-projects__content {
  grid-area: content;
  font-family: "Nunito Sans", sans-serif;
  padding: 0 20px 20px 20px;
  width: 252px;
}

/* .special-projects__content:first-child {
  padding-top: 58px;
} */
