.sponsor__price {
  font-family: "PP Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  color: #2c2c2c;
  padding: 10px;
}

@media (max-width: 430px) {
  .sponsor__price {
    font-size: 28px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
