.services-rating {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .services-rating {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .services-rating {
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .services-rating {
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .services-rating {
    max-width: 300px;
  }
}
