.projects__card-paragraph--native-1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  /* padding left and right is 10px. margin-bottom 20px */
  padding: 0 10px;
  margin-bottom: 20px;
}
