.banner__item-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #2c2c2ccc;
  padding: 10px 10px;
  margin-top: auto;
}

@media (max-width: 430px) {
  .banner__item-text {
    font-size: 14px;
  }
}
