.banner__item-price {
  font-family: "PP Neue Machina", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  color: #2c2c2c;
  padding: 10px;
  /* Margin provided below via flex gap */
}

@media (max-width: 768px) {
  .banner__item-price {
    font-size: 24px; /* Scaled down for mobile */
  }
}
