.hero__logo {
  position: absolute;
  width: 256px;
  top: 100px;
  left: 21.2%;
  height: auto;
}

@media (max-width: 992px) {
  .hero__logo {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .hero__logo {
    position: static;
    transform: none;
    margin: 0 auto 1rem auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 150px;
    white-space: normal;
  }
}
