.hero__logo {
  position: absolute;
  width: 256px;
  top: 100px;
  left: 21.2%;
  transform: rotate(0deg);
  height: auto;
  opacity: 0;
  transform-origin: bottom left;
}

.hero--animate-logo .hero__logo {
  transform: rotate(-8deg);
}

@media (max-width: 1200px) and (min-width: 769px) {
  .hero__logo {
    opacity: 1;
    position: static;
    transform: none;
    margin: 0 auto;
    margin-left: 190px;
  }
}

@media (max-width: 768px) {
  .hero__logo {
    position: static;
    transform: none;
    margin: 0 auto 1rem auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 150px;
    opacity: 1;
  }

  @media (max-width: 430px) {
    .hero__logo {
      right: 70px;
      top: 30px;
      margin: 0 auto 1rem auto;
      position: relative;
    }
  }

  .hero--animate-logo .hero__logo {
    animation: none;
  }
}

@keyframes fadeInRotateLogo {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;

    transform: rotate(-8deg);
  }
}

.hero--animate-logo .hero__logo {
  animation: fadeInRotateLogo 1s ease-out forwards;
  opacity: 1;
  transform: rotate(5deg);
}
