.hero__logo {
  position: relative;
  top: 53px;
  left: 245px;
}

/* .hero__logo {
  position: absolute;
  top: 10%; 
  left: 5%; 
  max-width: 15%; 
  height: auto;
  z-index: 5;
} */

@media (max-width: 1024px) {
  .hero__logo {
    top: 5%;
    left: 2%;
    max-width: 20%;
  }
}

@media (max-width: 768px) {
  .hero__logo {
    top: 2%;
    left: 2%;
    max-width: 25%;
  }
}

@media (max-width: 480px) {
  .hero__logo {
    max-width: 30%;
  }
}
