.about__box-row2 {
  display: flex;
  width: 100%;
  margin-top: 0;
  gap: 10px;
  grid-column: span 3;
}

.about__box-row2 .about__box {
  flex: 1 1 0;
  box-sizing: border-box;
  width: auto !important;
}

@media (max-width: 768px) {
  .about__box-row2 {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
}
/* .about__box-row2 .about__box .about__title,
  .about__box-row2 .about__box .about__paragraph,
  .about__box-row2 .about__box .about__logo-background {
    margin-left: 0;
  }
} */

@media (max-width: 524px) {
  .about__box-row2 {
    flex-direction: column;
    margin-top: 10px;
  }
}

@media (max-width: 430px) {
  .about__box-row2 {
    min-width: 410px;
  }
}

@media (max-width: 320px) {
  .about__box-row2 {
    min-width: 300px;
  }
}
