.projects__card-paragraph--native-2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  /* padding left and right 7.5 px. margin-bottom 10px */
  padding: 0 7.5px;
  margin-bottom: 10px;
}
