.footer__paragraph {
  width: 264px;
  margin-bottom: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #d9d9d9;
}

@media (max-width: 768px) {
  .footer__paragraph {
    width: auto;
  }
}
