.hero__paragraph--bold {
  font-weight: bolder;
}

@media (max-width: 320px) {
  .hero__paragraph--bold {
    display: block; /* Puts bold part on its own line if needed */
    margin-bottom: 5px;
  }
}
