.top-ratings__badge-paragraph {
  /* FIX: Add margin-top 20px */
  margin-top: 20px;

  /* ... rest of the styles ... */
  padding: 3px 9px;
  color: #e01339;
  margin-bottom: 10px;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  text-align: left;

  display: flex;
  align-items: center;
}
