.ad-networks-ratings__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .ad-networks-ratings__wrapper {
    flex-direction: column; /* FIX: Stack columns vertically on mobile */
  }
}
