.special-projects__row {
  display: grid;
  width: 1200px;
  box-sizing: border-box;
}

.special-projects__row:not(.special-projects__row--large) {
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
}
