.hero__paragraph {
  font-family: "Nunito Sans", sans-serif;
  color: #f4f4f4;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin: 32px 52px 81px 68px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 992px) {
  .hero__paragraph {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .hero__paragraph {
    position: static;
    transform: none;
    margin: 0 auto 1rem auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    font-size: 18px;
    margin: 1rem auto;
    white-space: normal;
  }
}
