.about {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 40px auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 292px 292px 595px;
  gap: 10px;
}

@media (max-width: 1282px) {
  .about {
    grid-template-columns: 1fr 1fr 2fr;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
}

@media (max-width: 524px) {
  .about {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
}
