.about {
  width: 100%;

  /* width: auto; */
  min-width: 0;
  max-width: 1200px;
  margin: 10px auto 40px auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 292px 292px 595px;
  gap: 10px;
}

@media (max-width: 1282px) {
  .about {
    grid-template-columns: 1fr 1fr 2fr;
    padding: 0 16px;
  }
}

@media (max-width: 1200px) {
  .about {
    display: flex;
    flex-direction: column; /* Stack all items vertically */
    gap: 10px;
    padding: 0 20px;
  }
  .about > .about__box {
    width: 100% !important;
  }

  /* Ensure the second row wrapper also stacks correctly with 100% width */
  .about > .about__box-row2 {
    width: 100% !important;
  }
}

/* @media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;

    padding: 0 20px;
  }

  
  .about > .about__box {
    
    width: 100% !important; 
    margin-bottom: 10px;
  }
}
@media (max-width: 524px) {
  .about {
   
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
} */
