.projects__card {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .projects__card {
    flex-direction: column;
  }
}
