.projects__card {
  background-color: #ffffff;
  border-radius: 16px;
  display: flex; /* 50/50 split */
  overflow: hidden;
  margin-bottom: 10px; /* Margin between the main card and the 8 boxes below */
}

@media (max-width: 768px) {
  .projects__card {
    flex-direction: column;
  }
}
