.projects__card-paragraph--sponsor {
  margin: 0 25px 10px 10px;
  font-weight: 500;
  color: rgba(44, 44, 44, 0.8);
}

@media (max-width: 430px) {
  .projects__card-paragraph--sponsor {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    margin-left: 0;
  }
}
