.ad-networks-ratings__table-image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 40px 50px 50px;
}

@media (max-width: 768px) {
  .ad-networks-ratings__table-image {
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
  }
}

@media (max-width: 430px) {
  .ad-networks-ratings__table-image {
    margin: 0;
    margin-bottom: 10px;
    min-width: 410px;
  }
}

@media (max-width: 320px) {
  .ad-networks-ratings__table-image {
    min-width: 300px;
  }
}
