.header__nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 20px 21.7px;
  margin: 0;
}

@media (max-width: 1024px) {
  .header__nav-links {
    padding: 15px 10px;
    gap: 10px;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .header__nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 100%; /* Position below header */
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  }
}
