.footer {
  width: 100%;
  margin-top: 75px;
  background-color: #4a4a4a;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .footer {
    width: 100%;
    min-width: 430px;
  }
}

@media (max-width: 320px) {
  .footer {
    width: 0;
    min-width: 300px;
  }
}
