.about__logo-background {
  display: flex;
  align-items: center;
  background-color: #e5e8ed;
  border-radius: 4px;
  width: 42px;
  height: 32px;
  cursor: pointer;
  margin: 16px 0 31px 16px;
}

@media (max-width: 768px) {
  .about__logo-background {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .about__logo-background {
    margin: 16px 0 22px 16px;
  }
}
