.about__logo-background {
  display: flex;
  align-items: center;
  background-color: #e5e8ed;
  border-radius: 4px;
  width: 42px;
  height: 32px;

  margin: 16px 0 31px 16px;
}

@media (max-width: 768px) {
  .about__logo-background {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
