.exclusive-top-ratings {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .exclusive-top-ratings {
    padding: 0 16px;
  }
}

/* Mobile Responsiveness (for screens under 768px, like iPhone 14 Pro Max) */
/* @media (max-width: 768px) {
  .exclusive-top-ratings {
    padding: 0 20px 50px 20px;
  }
} */
