.exclusive-top-ratings {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 20px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding-bottom: 50px;
}
/* Responsiveness */
@media (max-width: 1200px) {
  .exclusive-top-ratings {
    padding: 0 16px;
  }
}
