/* social-media-posts__table-image.css */

.social-media-posts__table-image {
  display: block;
  width: 100%;
  height: auto;
  /* margin: 0px top, 50px right, 20px bottom, 50px left */
  margin: 0 50px 20px 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .social-media-posts__table-image {
    margin-left: 20px;
    margin-right: 20px;
  }
}
