.exclusive-top-ratings__table-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  max-width: 1100px;
}
/* Responsiveness */
@media (max-width: 768px) {
  .exclusive-top-ratings__table-image {
    margin-left: 20px;
    margin-right: 20px;
  }
}
