.contacts__card-container {
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* .contact-card:nth-child(4),
.contact-card:nth-child(5) {
} */

@media (max-width: 768px) {
  .contacts__card-container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

@media (min-width: 769px) {
  .contacts__card-container {
    justify-items: center;
  }
}
