.social-media-posts__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #3663e0;
  padding: 10px;
  margin-bottom: 20px;
  /* margin: 50px 50px 20px 50px; */
}
