.projects {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 10px auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .projects {
    padding: 0 16px;
  }
}

@media (max-width: 430px) {
  .projects {
    padding: 0;
    margin: 0px 10px 10px 10px;
    max-width: 410px;
  }
}
