.corporate-blog__paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: rgba(44, 44, 44, 0.8);
  padding: 10px 0 0 10px;
}

@media (max-width: 430px) {
  .corporate-blog__paragraph {
    font-size: 14px;
  }
}
