.services-rating__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .services-rating__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .services-rating__wrapper {
    padding-top: 15px;
  }
}
