.projects__card-content--native {
  /* margin: 50px on all sides -> padding 50px */
  padding: 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects__card-content--native {
    padding: 20px;
  }
}
