.projects__card-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #0b5ed9;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 430px) {
  .projects__card-title {
    font-size: 18px;
  }
}
