.about__paragraph {
  font-size: 16px;
  line-height: 20px;
  padding-right: 16px;
  margin: 0;
}

@media (max-width: 768px) {
  /* Reset specific margins that were defined elsewhere for mobile */

  .about__paragraph {
    margin-bottom: 5px;
  }
}
