.about__paragraph {
  font-size: 16px;
  line-height: 20px;
  margin-left: 16px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .about__paragraph {
    margin-bottom: 5px;
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .about__paragraph {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
  }
}
