.projects__boxes-container {
  display: grid;
  grid-template-columns: 292px 292px 292px 292px;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .projects__boxes-container {
    grid-template-columns: 1fr 1fr;
    padding: 0 16px;
  }
}

/* Mobile View (Below 768px - single column stack) */
@media (max-width: 768px) {
  .projects__boxes-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

@media (max-width: 430px) {
  .projects__boxes-container {
    /* margin-left: 10px;
    margin-right: 10px; */
    max-width: 410px;
  }
}
