.corporate-blog__table-image {
  display: block;
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 50px 18.95px 50px;
}

@media (max-width: 1200px) {
  .corporate-blog__table-image {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .corporate-blog__table-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
