.corporate-blog__table-image {
  display: block;
  /* width 1100px is max, will shrink with viewport. margin: 0 50px 18.95px 50px */
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 50px 18.95px 50px;
}

@media (max-width: 1200px) {
  .corporate-blog__table-image {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .corporate-blog__table-image {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
