@import url(../styles/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu-toggle/header__menu-toggle.css);
@import url(../blocks/header/__menu-icon/header__menu-icon.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-links/header__nav-links.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/header/__nav-item/--language/header__nav-item--language.css);
@import url(../blocks/header/__nav-link/header__nav-link.css);
@import url(../blocks/header/__nav-link/--language/header__nav-link--language.css);
@import url(../blocks/header/__nav/--active/header__nav--active.css);
/* content */
@import url(../blocks/content/content.css);
/* hero section */
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__logo/hero__logo.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__paragraph/hero__paragraph.css);
@import url(../blocks/hero/__paragraph/--bold/hero__paragraph--bold.css);

/* about section */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__box/about__box.css);
@import url(../blocks/about/__box/--wide/about__box--wide.css);
@import url(../blocks/about/__box-row2/about__box-row2.css);
@import url(../blocks/about/__logo/about__logo.css);
@import url(../blocks/about/__logo-background/about__logo-background.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__logo-background/--with-text/about__logo-background--with-text.css);
@import url(../blocks/about/__logo-text/about__logo-text.css);

/* banner section */

@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/_item/banner__item.css);
@import url(../blocks/banner/__item-content/banner__item-content.css);
@import url(../blocks/banner/__item-title/banner__item-title.css);
@import url(../blocks/banner/__item-subscription/banner__item-subscription.css);
@import url(../blocks/banner/__item-price/banner__item-price.css);
@import url(../blocks/banner/__item-options/banner__item-options.css);
@import url(../blocks/banner/__item-month/banner__item-month.css);
@import url(../blocks/banner/__item-rotation/banner__item-rotation.css);
@import url(../blocks/banner/__item-rotation/--none/banner__item-rotation--none.css);
@import url(../blocks/banner/__item-text/banner__item-text.css);
@import url(../blocks/banner/__item-image-wrapper/banner__item-image-wrapper.css);
@import url(../blocks/banner/__item-image/banner__item-image.css);
@import url(../blocks/button/button.css);

/* projects section */

@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__card/projects__card.css);
@import url(../blocks/projects/__card-content/projects__card-content.css);
@import url(../blocks/projects/__card-image-wrapper/projects__card-image-wrapper.css);
@import url(../blocks/projects/__card-image/projects__card-image.css);
@import url(../blocks/projects/__card-title/projects__card-title.css);
@import url(../blocks/projects/__card-paragraph/projects__card-paragraph.css);
@import url(../blocks/projects/__card-paragraph/--bold/projects__card-paragraph--bold.css);
@import url(../blocks/projects/__boxes-container/projects__boxes-container.css);
@import url(../blocks/projects/__box/projects__box.css);
@import url(../blocks/projects/__box-icon/projects__box-icon.css);
@import url(../blocks/projects/__box-paragraph/projects__box-paragraph.css);
@import url(../blocks/projects/__card-content/--individual/projects__card-content--individual.css);
@import url(../blocks/projects/__card-price/projects__card-price.css);
@import url(../blocks/projects/__card-price-wrapper/projects__card-price-wrapper.css);
/* individual-projects section */

@import url(../blocks/individual-projects/individual-projects.css);

@import url(../blocks/projects/__boxes-container/--individual/projects__boxes-container--individual.css);
@import url(../blocks/projects/__box-paragraph/--individual/projects__box-paragraph--individual.css);

@import url(../blocks/individual-projects/__card-wrapper/individual-projects__card-wrapper.css);
@import url(../blocks/projects/__card-title/--secondary/projects__card-title--secondary.css);

/* pricing-grid */
@import url(../blocks/pricing-grid/pricing-grid.css);
@import url(../blocks/pricing-grid/__item/pricing-grid__item.css);
@import url(../blocks/projects/__card-content/--detailed-pricing/projects__card-content--detailed-pricing.css);
@import url(../blocks/projects/__card-paragraph/--detailed-pricing/projects__card-paragraph--detailed-pricing.css);
@import url(../blocks/pricing-grid/--three-cols/pricing-grid--three-cols.css);
@import url(../blocks/pricing-grid/__price/pricing-grid__price.css);
@import url(../blocks/pricing-grid/__paragraph/pricing-grid__paragraph.css);
@import url(../blocks/pricing-grid/__price/--secondary/pricing-grid__price--secondary.css);
@import url(../blocks/pricing-grid/__paragraph/--secondary/pricing-grid__paragraph--secondary.css);

/* publication */
@import url(../blocks/projects/__card-content/--publication/projects__card-content--publication.css);
@import url(../blocks/projects/__card-title/--publication/projects__card-title--publication.css);
@import url(../blocks/projects/__card-paragraph/--publication/projects__card-paragraph--publication.css);
@import url(../blocks/pricing-grid/__paragraph/--publication/pricing-grid__paragraph--publication.css);
@import url(../blocks/pricing-grid/__price/--publication/pricing-grid__price--publication.css);

/* corportate-blog section */
@import url(../blocks/corporate-blog/corporate-blog.css);
@import url(../blocks/corporate-blog/__text/corporate-blog__text.css);
@import url(../blocks/corporate-blog/__title/corporate-blog__title.css);
@import url(../blocks/corporate-blog/__paragraph/corporate-blog__paragraph.css);
@import url(../blocks/corporate-blog/__tables/corporate-blog__tables.css);
@import url(../blocks/corporate-blog/__caption/corporate-blog__caption.css);
@import url(../blocks/projects/__boxes-container/--blog/projects__boxes-container--blog.css);
@import url(../blocks/corporate-blog/__text-and-tables-wrapper/corporate-blog__text-and-tables-wrapper.css);
@import url(../blocks/corporate-blog/__table-image/corporate-blog__table-image.css);
@import url(../blocks/projects/__box-icon/--blog/projects__box-icon--blog.css);
@import url(../blocks/projects/__boxes-container/--blog/projects__boxes-container--blog.css);
