.header__nav-link--language {
  font-weight: 700;
}

/* media queries */

@media (max-width: 480px) {
  .header__nav-link--language {
    font-weight: 800;
    font-size: 20px;
    /* font-size: 0.95rem; */
  }
}
