.header__nav-link--language {
  font-weight: 700;
}

/* media queries */

@media (max-width: 480px) {
  .header__nav-link--language {
    font-weight: 800;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .header__nav-link--language {
    white-space: nowrap !important;
    font-size: 16px !important;
  }
}
