.social-media-branding__package-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 100%;
  color: #3663e0;
  padding: 10px;
}

@media (max-width: 430px) {
  .social-media-branding__package-title {
    font-size: 14px;
    color: #727272;
  }
}
