.projects__boxes-container--individual {
  grid-template-columns: 288px 288px 288px 288px;
}

.projects__boxes-container--individual .projects__box-icon {
  margin-bottom: 0;
}

/* Box 1: 1px bottom margin */
.projects__boxes-container--individual
  .projects__box:nth-child(1)
  .projects__box-icon {
  margin-bottom: 1px;
}

/* Box 2: 20px bottom margin */
.projects__boxes-container--individual
  .projects__box:nth-child(2)
  .projects__box-icon {
  margin-bottom: 20px;
}

/* Box 3: 39px bottom margin */
.projects__boxes-container--individual
  .projects__box:nth-child(3)
  .projects__box-icon {
  margin-bottom: 39px;
}

/* Box 4: 20px bottom margin */
.projects__boxes-container--individual
  .projects__box:nth-child(4)
  .projects__box-icon {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .projects__boxes-container--individual {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .projects__boxes-container--individual {
    grid-template-columns: 1fr;
  }
}
