.button {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 20px auto 40px auto;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  background-color: #f5c832;
  border-radius: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  padding: 20px 40px;
}

.button:hover {
  background-color: #fcd860;
  transition: background-color 0.3s ease;
}

/* --- Responsiveness --- */

@media (max-width: 1200px) {
  .button {
    padding: 20px 20px;
  }
}

@media (max-width: 768px) {
  .button {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
  }
}
