/* .header__nav-item:last-child {
  font-weight: bold;
} */

.header__nav-item {
  flex: 0 0 auto;
}

.header__nav-item:last-child {
  font-weight: bold;
}

@media (max-width: 768px) {
  .header__nav-item {
    margin: 0.5rem 0;
  }
}
