.header__nav-item {
  flex: 0 1 auto;
  white-space: nowrap;
}

/* media queries */
@media (max-width: 768px) {
  .header__nav-item {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
  }

  .header__nav-item:last-child {
    border-bottom: none;
  }
}
