.sponsor__month {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #0b5ed9;
  margin: 23.5px 0;
}

@media (max-width: 430px) {
  .sponsor__month {
    margin: 0;
  }
}
