.sponsor__month {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #0b5ed9;
  /* margin-top and margin-bottom is 23.5px */
  margin: 23.5px 0;
}
