.corporate-blog__tables {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  margin: 20px 50px 20px 50px;
}

@media (max-width: 768px) {
  .corporate-blog__tables {
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .corporate-blog__tables {
    padding: 0;
  }
}
