.corporate-blog__tables {
  /* Needs padding/margin specs */
}

.corporate-blog__table-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px; /* Space between tables/caption */
}
