.projects__card-content--social {
  padding: 50px 50px 20px 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects__card-content--social {
    padding: 20px;
  }
}

@media (max-width: 430px) {
  .projects__card-content--social {
    padding: 0;
  }
}
